*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lora', serif;
}

/* Navbar Section */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
} 
nav ul li{
    display: inline-block;
    margin-right:50px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
p{
    color: black;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: rgb(7, 78, 172);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: background 0.5s;
}
header{
    background: radial-gradient(#fff,#ADD8E6);
}
header .row{
    margin-top: 156px;
}
.btn:hover{
    background: rgb(3, 25, 54);
}

nav ul li a:hover{
    color: #ff523b;
}


/* Sidebar  */
.sidebar{
    position: absolute;
    top:0px;
    left: -250px;
    width: 250px;
    height: 100%;
    background: black;
    transition: all 300ms ease-in-out;
    /* display: none; */
}
.sidebar .toggle-button{
    position: absolute;
    top: 88px;
    right: -40px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.sidebar .toggle-button span{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ff523b;
    transform: translateY(-50%);
    transition: all 300ms ease-in-out;
}
.sidebar .toggle-button span:nth-child(1){
    top:10%
}
.sidebar .toggle-button span:nth-child(2){
    top:50%
}
.sidebar .toggle-button span:nth-child(1){
    top:90%
}

.sidebar .links a{
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid #1b1b1b;
}

.sidebar .links a.active, .sidebar .links a:hover{
    background-color: #222;
    color: #ff523b;
}
.sidebar .links a i {
    display: inline-block;
    margin-right: 10px;

}

.sidebar.active{
    left:0px;
    position: fixed;
}

.sidebar.active .toggle-button span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);

}
.sidebar.active .toggle-button span:nth-child(2){
    display: none;
    
}
.sidebar.active .toggle-button span:nth-child(3){
    top:50%;
    transform: translateY(-50%) rotate(-45deg);
    
}




/* Feature Categories */

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    height: 300px;
   
}
.small-container{
    max-width: 1110px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Feature Products */

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    
}
.col-4 img{
    width: 100%;

}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color:#ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}

/* OFFER */
.offer{
    background: radial-gradient(#fff,#ADD8E6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 90px;
}

/* testimonial section */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width:70px;
    margin-top: 20px;
    border-radius: 50%;
    height:70px;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color:#ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color:#454545;
}

.testimonial.col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


/* Brands */
.brands{
    margin: 100px auto;

}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}



/* FOOTER  */

.footer{
    background:rgb(4, 7, 41);
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: white;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
    border-radius: 10px;
}

.footer hr{
    border: none;
    background: white;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/*-------------- About US Page----------------- */

.about{
    width: 100%;
    padding: 78px 0px;
    background:radial-gradient(rgb(27, 27, 27),#000000);
}
.about img{
    height: auto;
    width: 420px;
    border-radius: 270px;
}
.about-text{
    width: 550px;

}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: rgb(7, 78, 172);
}

.about-text p{
    color: #fcfc;
    font-size: 18px;
    margin-bottom: 45px;
    letter-spacing: 1px;
    line-height: 28px;
}
button{
    background: rgb(7, 78, 172);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}
button:hover{
    background: transparent;
    border: 2px solid rgb(3, 25, 54);;
    cursor: pointer;
}


/*--------------- Products Page----------------- */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
    background-color: white;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;

}

.page-btn span:hover{
    background: #ff523b;
    color: white;
}



/*--------------- Cart Page----------------- */

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff523b;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5x;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 370px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}





/* Media Queries for Menu */

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top:70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .cart-info p{
        display: none;
    }

}


@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }


}

@media only screen and (max-width:850px){

.main{
    display: block;
    text-align: center;
}
.main img{
    height: auto;
    width: 220px;
    border-radius: 270px;
}
.about-text{
    width: 550px;
    text-align: center;
    display: contents;
}
}

@media only screen and (min-width: 851px) and (max-width:1100px){

.about img{
    width: 325px;

}
.about-text{
    margin-left:5%;
}

}




